<div>
    <%= f.text_field :search_key, placeholder: "search key", class: "span2" %>
    <%= f.url_field :feed_url, placeholder: "feed url", class: "span2" %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy %>
</div>
