<h3>Service Notification</h3>
<ul>
  <% @notifications.each do |notification| %>
    <li class="notice no-list-style">
      <%= link_to notification.sms, service_notification_path(@service, notification), :class => "data-remote" %>
    </li>
  <% end %>
</ul>