<div class="form-item number-field row">
  <%= f.label :sender_credit, :class => "span3" %>
  <span class="span8 fields">
    <%= f.number_field :sender_credit %>
    <i>credit/announce</i>
  </span>
  
</div>

<div class="form-item number-field row">
  <%= f.label :receiver_credit, :class => "span3" %>
  <span class="fields span8">
    <%= f.number_field :receiver_credit %>
    <i>credit/announce</i>
  </span>
</div>