<p class="fields group-item-body-fields">
  <%= f.label :label, t('services.label'), :class => "floated" %>
  <%= f.text_field :label, :size => "27" %>
  <%#= f.check_box :_destroy, :class => "styled-check_box" %>
  <%#= f.label :_destroy, "Remove" %>
  <%= link_to_remove_fields t('global.destroy'), f %>
</p>