<div id="service-subscription" class="alert alert-block in" style="display: none;">
  <%= render "subscription_form" %>
</div>

<script type="text/javascript">
$(function() {
  $(".filter select").multiselect({
    selectedList: 1,
    minWidth: 350,
  }).multiselectfilter();

  $("#subscription_email, #subscription_sms").button();

  $(".subscribe").click(function() {
    $("#service-subscription").toggle();
    $(this).toggleClass("disabled");
  });
});
</script>