<% provide :title, t('sessions.signin') %>
<%= page_title t('sessions.signin') %>
<%= body_class 'signin' %>
<%= render 'form' %>

<p style="text-align:right;">
  <%= link_to t('sessions.are_you_new'), signup_path %>
</p>