.bundle
log/*
tmp/
.sass-cache/

config/*.conf
config/*sphinx.conf
config/app_config.yml
config/database.yml
config/mongoid.yml
config/deploy.rb
config/sphinx.yml
config/development.sphinx.yml
config/production.sphinx.yml
config/unicorn.rb

db/sphinx/*
db/*.sqlite3

public/uploads/*
public/javascripts/*
public/stylesheets/*
