<div class="answer clearfix <%= "odd" if answer_counter % 2 == 0 %>">
  <div class="author">
    <strong><%= answer.author.email.split("@")[0] %>:</strong>
  </div>
  <%= simple_format answer.body %>
</div>