<div id="comment_<%= comment.id %>" class="row comment">
  <div class="span1 offset1">
    <div class="author">
      Author
    </div>
  </div>
  <div class="span6">
    <div class="body">
      <div class="ins">
        <%= simple_format comment.body %>
        <%= comment_date comment %>
      </div>
    </div>
  </div>
</div>