<div class="comment comment-form clearfix">
  <div class="author pull-left">
    <i class="icon-comments-alt author-icon"></i>
  </div>
  <div class="body">
    <div class="ins">
      <% if allow? :comments, :create %>
        <%= form_for [@node_type, @node, @node.comments.new],
              url: node_type_node_comments_path(@node_type.id, @node.id),
              :remote => true do |f| %>
          <%= f.text_area :body, :rows => 3, :class => "span5" %>
          <%= f.submit t('helpers.submit.create'), class: "btn" %>
        <% end %>
      <% else %>
        <p><%=t 'comments.signin' %></p>
      <% end %>
    </div>
  </div>
</div>