<div class="row comment comment-form">
  <div class="span1 offset1">
    <div class="author">
      Commenter
    </div>
  </div>
  <div class="span6">
    <div class="body">
      <div class="ins">
        <%= form_for Comment.new(:node_id => @node.id), :remote => true do |f| %>
          <%= f.hidden_field :node_id %>
          <div>
            <%= f.text_area :body, :rows => 3, :class => "span5" %>
          </div>
          <div class="row">
            <div class="span3">
              <%= f.submit nil, class: "btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>