<div class="span3 node">
  <div class="node-ins">
    <div class="field">
      <%= node.title %>
    </div>
    <% @node_type.grid_features.each do |feature| %>
      <div class="field">
        <%= feature_view(node.find_value_by_views_feature(feature)) %>
      </div> 
    <% end %>
  </div>
</div>