<div style="float:right; margin-top: 10px;">
  DURUM:
  <% if @node.listing? %>
    <div style="color: green; display: inline;"> yayında <i class="icon-ok icon-large"></i></div>
  <% elsif @node.in_queue_for_approve? %>
    <div style="color: #CE780C; display: inline;"> onay bekliyor <i class="icon-bell icon-large"></i> </div>
  <% else %>
    <div style="color: #BE0000; display: inline;"> yayınlanmıyor <i class="icon-off icon-large"></i> </div>
  <% end %>
</div>