<ul class="nav pull-right">
  <% if @node.published? %>
    <li><a href="#" style="color: #009900;"><i class="icon-ok"></i> yayında</a></li>
  <% elsif @node.pending_approval? %>
    <li><a href="#" style="color: #CE780C;"><i class="icon-bell"></i> onay bekliyor</a></li>
  <% else %>
    <li><a href="#" style="color: #BE0000;"><i class="icon-off"></i> yayınlanmıyor</a></li>
  <% end %>
</ul>