<tr>
  <td>
    <%= node.title %>
  </td>
  <% @node_type.table_features.each do |feature| %>
    <td>
      <%= feature_view(node.find_value_by_views_feature(feature)) %>
    </td> 
  <% end %>

  <td>
    <%= link_to_pjax_modal "show", node_id: node.id %>
  </td>
</tr>