<% page_name = @node.title %>
<% provide :title, page_name %>
<% meta_description @node.title %>
<%= page_title @node.title %>

<%= render "node" %>

<div id="comments">
  <h2>Comments</h2>
  <%= render @node.comments %>
  <%= render 'comments/form' %>
</div>