<% provide :title, "Users" %>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Default Password changed?</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |user| %>
    <%= content_tag_for(:tr, user) do %>
      <td><%= link_to user.email, user_path(user) %></td>
      <td><%= user.default_password_changed? %></td>
      <td><%= render 'user_actions_menu', user: user %></td>
    <% end %>
  <% end %>
</table>