<% if object.errors.any? %>
  <div class="alert alert-block alert-error fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">
      <%= pluralize(object.errors.count, "error") %> prohibited this node from being saved:
    </h4>
    
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><p><%= msg %></p></li>
        <% end %>
      </ul>
  </div>
<% end %>