<div class="btn-group">
  <%= yield object, :header %>
  <button class="btn <%= size %> dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <%= yield object, :links %>
  </ul>
</div>