<div id="static-modal">
  <div id="ejans-modal">
    <div class="ejans-modal modal-open fade in">
      <div class="modal-header">
        <button type="button" class="btn-close">×</button>
        <h3><%= title %></h3>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade in"></div>
</div>