<% title "Home" %>

<%= render "slide" %>

<h2 id="subheading">
  Örnek Servisler
  <div></div>
</h2>

<script type="text/javascript">
    $(function() {
        $('.swi').hover(function() {
            $(this).find('img').stop().animate({ "top" : '100px'}, 250);   
        }, function() {
            $(this).find('img').stop().animate({ "top" : '0px'}, 300);       
        });
    });
  </script>
</head>


<div id="home-services" class="clearfix">
  <% @services.each do |service| %>
    <div class="swi">
      <div class="ins">
        <%= link_to service do %>
          <span><%= service.title %></span>
          <%= image_tag(service.image_url, alt: service.title) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>