<% provide :title, @place.name %>
<% body_class "home" %>

<%= content_for :navbar do %>
  <li class="active"><a href="#"><%= @place.name %></a></li>
<% end %>

<%= javascript 'jquery-plugins/jquery.masonry' %>


<%= view = Views::PlacePageView.new(@place, self) %>

<script>
var $container = $('#place-nodes');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.node'
  });
});
</script>
