<%= f.input :js, label: false, as: :text, input_html: { rows: 5, class: "span4" },
            wrapper: :ace, ace: { for: :js, mode: "javascript", width: "600" } %>
            
<%= f.input :js_ins, label: false do %>
  <ul>
    <li>jQuery 1.8.6 zaten sayfaya ekli.</li>
    <li>jQuery açma-kapama taglarını kullanmaya gerek yok.</li>
  </ul>
<% end %>