<div>
  <span class="handle">[drag]</span>
  <%= form_for Selection.new(:filter_id => filter.id), remote: true do |f| %>
    <%= f.hidden_field :filter_id %>
    <%= f.text_field :label %>
    <%= f.submit %>
  <% end %>
</div>