<%= content_tag_for :tr, list_item do %>
  <td><span class="handle">[drag]</span></td>
  <td><%= list_item.name %></td>
  <td>
    <%= link_to 'sil',
                node_type_fields_field_configuration_list_item_path(@node_type, fc, list_item),
                method: :delete,
                :'data-confirm' => "Are you sure?",
                class: "btn btn-mini btn-danger",
                remote: true %>
  </td>
<% end %>