<% url = if @view.new_record?
            node_type_views_views_path
          else
            node_type_views_view_path
          end %>

<%= form_for [@node_type, @view],
    url: url do |f| %>
  <table class="table table-form">
    <%= hidden_field_tag "_type", @view._type %>
    <%= render "#{@view.partial_dir}/form", f: f %>
    <%= simple_submit f %>
  </table>
<% end %>