<%= f.input :css, label: false, wrapper: :ace,
            ace: { for: :css, mode: "css", width: "600" } %>

<%= f.input :js_ins, label: false do %>
  <ul>
    <li>Twitter bootstrap siniflarini kullanabilirsiniz.</li>
  </ul>
<% end %>