<%= f.input :user_input_node_template, as: :text, label: false,
            input_html: { rows: 5, class: "span4" },
            wrapper: :ace, ace: { for: :user_input_node_template, width: "600" } %>

<%= f.input :user_input_node_template_ins, label: false do %>
  <ul>
    <% @node_type.node_template_attrs.each do |attr| %>
      <li><code><%= attr %></code></li>
    <% end %>
  </ul>
<% end %>