<%= f.input :user_input_node_type_template,
            label: false,
            as: :text,
            input_html: { rows: 5, class: "span4" },
            wrapper: :ace,
            ace: { for: :user_input_node_type_template, width: "600" } %>

<%= f.input :user_input_node_type_template_ins, label: false do %>
  <ul>
    <li><code>nodes</code></li>
  </ul>
<% end %>