<% if field.can_be_added_only_by_parent_author? and field.options_for_select(current_user).blank? %>
  <div class="alert alert-error">
    <strong>DİKKAT!</strong> İlk olarak
    <%= link_to "#{field.parent_klass.name}", node_type_path(field.parent_node_node_type) %>
    listesine bir node ekleyip yayınlamalisiniz. Sonra gelip buradan <%= field.label %>
    seçebilisiniz.
  </div>

<% else %>

  <%= field.f.input field.form_key,
                    label: field.label,
                    hint: field.hint,
                    collection: field.options_for_select(current_user),
                    include_blank: field.include_blank? %>

<% end %>