#comments {
  margin-top: 50px;
}

.comment {
  padding: 15px 0;

  .author-icon {
    color: #ddd;
    font-size: 32px;
    line-height: 32px;
  }

  .body {
    margin-left: 60px;

    .ins p:last-child {
      margin: 0;
    }
  }
}