.filter-form {
  td {
    padding-right: 10px;
    vertical-align: bottom;
  }
  
  label {
    display: block;
  }

  input[type="number"], select {
    @extend .btn-mini;
  }
}

.filter {
  margin-bottom: 15px;

  h3 {
    font-size: 11px;
    color: #666;
    font-weight: normal;
  }
}

#view-links {
  padding-top: 21px;
}