.filter-form {
  td {
    padding-right: 10px;
    vertical-align: bottom;
  }
  
  label {
    display: block;
  }

  input[type="number"] {
    @extend .btn-mini;
  }
}

#view-links {
  padding-top: 21px;
}