.filter-form {
  margin: 0 -20px;
  padding: 10px 20px;
  background: $serviceitembg;

  td {
    padding-right: 10px;
  }
  
  label {
    display: block;
  }

  input[type="number"] {
    @extend .btn-mini;
  }

  .btn-filter {
    margin-top: 21px;
  }

}