.table-form {
  tr td:first-child,
  tr th:first-child, {
  }

  .label-field {
    width: 110px;
    vertical-align: top;
    padding-top: 12px;
  }

  th, td {
    border: 0;
    vertical-align: middle;
  }

  th {
    text-align: right;
    label {
      font-weight: bold;
    }
  }

  tr:hover td,
  tr:hover th {
    background: #fff !important;
  }

  select, input {
    margin-bottom: 0;
  }
}

input,
textarea {
  @include border-radius(2px);
  border-color: #BCBCBC #D5D5D5 #D5D5D5;
  border-style: solid;
  border-width: 1px;
  padding: 3px 5px;
  @include box-shadow(none);
  @include transition(none);

  &:focus {
    outline: 0;
    border-color: #777;
    $shadow: inset 0 0 2px #777;
    @include box-shadow($shadow);
  }
}

input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  @include box-shadow(none); // override for file inputs
  outline: 1px dotted #666; // Select elements don't get box-shadow styles, so instead we do outline
}

input:-webkit-autofill {
  background: #fff;
}

.form-item {
  @extend .clearfix;
}

.form-vertical {
  padding-left: 20px;

  label {
    width: auto;
    display: block;
  }
}

.page-form {

  .title-field {
    label {
      line-height: 2em;
    }

    input {
      font-size: 1.3em;
    }
  }

  .group {
    .group-item {
      margin-bottom: 5px;
      display: block;
      padding: 10px;
      @include border-radius;
      background: lighten($serviceitembg, 4%);
      line-height: 2em;
      
      .floated,
      input[type=text] {
        float: left;
        width: auto;
        margin-right: 5px;
      }

      label.floated {
        line-height:25px;
      }

      .fixed {
        display: block;
        float: left;
        width: 150px;
      }

      select {
        float: right;
      }


      .group-item-header {
        display: block;
        position: relative;
      }

      .action-btn {
        float: right;
        margin-left: 3px;
      }

      .filter {
        margin-bottom: 10px;
      } 

      .group-item-body {
        display: none;
        @include border-radius(0 0 4px 4px);
        margin: 10px -10px -10px;
        padding: 10px;
        border-top: 1px solid $serviceitembg;
        background: lighten($serviceitembg, 6%);
      }

      .group-item-body-fields {
        @extend .clearfix;
        line-height: 1.7em;
           
        input {
          @include box-shadow(0 0 0);
          padding:2px;
        }

        a {
          font-size: 0.9em;
          color: lighten($linkColor, 25%);
        }
      }
    }

    .opened-group-item {
        background: $serviceitembg;

      .group-item-body {
        background: lighten($serviceitembg, 4%);
      }
    }
  }

  .field_with_errors {
    @extend .span2;
    display: inline;
    float: left;
    margin-right: 20px;
  }

  .span8 .field_with_errors {
    margin-left: 0; 
    @extend .span8;
  }

}

#error_explanation {
  h2 {
    font-size: 1em;
    margin-bottom: 5px;
  }

  li {
    color: $red;
  }
}

.field_with_errors {
  @extend .control-group.error;
}