#error_explanation {
  h2 {
    font-size: 1em;
    margin-bottom: 5px;
  }

  li {
    color: $red;
  }
}

.field_with_errors {
  @extend .control-group.error;
}

fieldset.place-select select {
  margin: 0;
}

.form-horizontal .form-actions.page-bottom-actions {
  padding-left: 190px;
}

.page-bottom-actions {
  margin: 19px -30px -38px;
  padding-left: 30px;
}