.home {
  background: white;
  margin-top: 41px;

  .dropdown-menu { 
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    li a { 
      margin: 0;
      padding: 3px 5px;
      @include border-radius(3px);
    }
  }
}