.images {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .loading {
    width: 106px;
    height: 82px;
    z-index: 2;
    left: 0;
    top: 0;
    position: absolute;
    background: image-url('images/ajax-loader.gif') center center no-repeat;
  }

  .handle-move { cursor: move; }

  li {
    list-style-type: none;
    margin: 3px 3px 3px 0;
    padding: 5px;
    float: left;
    width: 96px;
    height: 72px;
    text-align: right;
    background: #f0f0f0;
    position: relative;

    .controls {
      opacity: 0.7;
      margin-top: -20px
    }

    &:hover .controls {
      opacity: 1;
    }

    .preview {
      height: auto;
    }

    .image-thumb {
      width: 96px;
      height:72px;
      text-align:center;
      background: #fff;
      height: 72px;
      scroll: auto;
      overflow: hidden;
    }

  }


}



.heighted {
  margin-bottom: 0;
  height: 29px;
  line-height: 29px;

  .bar {
    height: 29px;
    line-height: 29px;    
  }
}