.images {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .handle-move { cursor: move; }

  li {
    list-style-type: none;
    margin: 3px 3px 3px 0;
    padding: 5px;
    float: left;
    width: 96px;
    height: 72px;
    text-align: right;
    background: #ccc;
    position: relative;

    .image-controls {
      opacity: 0.5;
      margin-top: -20px
    }

    &:hover .image-controls {
      opacity: 1;
    }

    .preview {
      height: auto;
    }

    .image-thumb {
      width: 96px;
      height:72px;
      text-align:center;
      background: #fff;
      height: 72px;
      scroll: auto;
      overflow: hidden;
    }

  }


}



.heighted {
  margin-bottom: 0;
  height: 2px;
  line-height: 2px;

  .bar {
    height: 2px;
    line-height: 2px;    
  }
}