.container {
  width: 940px;
}

.small-page .container.page {
  width: 600px;
}

.column-inner {
  border: 1px solid $bordercolor;
  overflow: hidden;
  background: white;
  padding: 15px 20px;

  .column-content {
    padding: 15px 20px 0px 20px;
  }

  .column-navbar {
    margin: -15px -20px 20px -20px;
  }

  .column-navbar .navbar-inner {
    padding-right: 0;
  }

  .column-navbar.navbar {
    position: relative;
    width: auto;
  }

}

.column-indent {
  margin: 15px 20px;
}