// LAYOUT
.oneColumn .container {
}

.container {
  width: 940px;
}

.page {
  margin: 0 -31px;
  padding: 20px 30px;
  @include border-radius(4px);
  background: #fff;
  border: 1px solid $bordercolor;
}