body {
  background: $bgcolor;
  margin-top: 60px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
}

// default
.margin-padding-zero {
  margin: 0;
  padding: 0;
}

.nostyle-list {
  list-style: none;
  @extend .margin-padding-zero;
}

.inline-list {
  @extend .nostyle-list;
  display: inline;

  li {
    display: inline;
  }
}

.border-radius {
  @include border-radius(4px);
}

.page_title {
  font-size: 24px;
}

.navbar .brand { font-size: 16px; }
.nav.pull-right { margin-right: 0; }

// FOOTER
footer {
  padding: 10px 0;
  border: 0;
  ul {
    float: right;
    a {
      color: #333;
      padding-left: 10px;
    }
  }
}