$bgcolor:       #AAAAAA;
$bordercolor:   #eee;
$serviceitembg: #DCEAF4;

body {
  background: $bgcolor;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
}

label {
  display: inline;
  line-height: 1.3em;
}

// default
.margin-padding-zero {
  margin: 0;
  padding: 0;
}

.nostyle-list {
  list-style: none;
  @extend .margin-padding-zero;
}

.inline-list {
  @extend .nostyle-list;
  display: inline;

  li {
    display: inline;
  }
}


.border-radius {
  @include border-radius(4px);
}

.form-actions {
  text-align: center;
  margin: 0 -20px -38px;

  input {
    @extend .span3;
    @extend .btn;
  }
}

.edit_credit {
  display: inline;
}

.notice-dropdown ul {
  width: 350px;
}

.nav > li {
  position: relative;
}

.notice-tooltip {
  position: absolute;
  right: 7px;
  top: -10px;
  width: 15px;
  @include border-radius(3px);
  background: darken(red, 5%);
  color: $white;
  text-align:center;
  font-size: .8em;
  font-weight: bold;
}

ul a.no-notice {
  color: $gray;
}

ul.dropdown-menu li {
  postion:relative;

  span {
    position: absolute;
    right: 5px;
    top: 13px;
    height: 12px;
    line-height: 1.2em;
    padding: 0 3px;
  }
}

.navbar-search {
  margin-top: 7px;

  .search-query {
    padding: 2px 9px;
    width: 180px;

    &:focus, &.focused {
      padding: 3px 10px;
    }      
  }

}


// Breadcrumb
#breadcrumb {
  @extend .clearfix;
  padding-bottom:10px;
  border-bottom: 1px solid $bordercolor;
  margin: -5px -20px 20px 0;

  ul {
    margin-left:0;
  }

  li {
    @extend .inline-list;
    float:left;
    line-height: 1.2em;
    padding: 0 15px 0 10px;
    background: url(image-path("images/chevron.gif")) 100% 50% no-repeat;
    &.first {
      padding-left: 20px;
    }
    &.last {
      background-image: none;
    }
  }
}


// LISTS
.page-list {
  border-top: 1px solid darken($bordercolor, 5%);
  @extend .margin-padding-zero;
  margin: 10px -20px;

  li {
    @extend .nostyle-list;
    border-bottom: 1px solid $bordercolor;
    padding: 12px 20px;
    @include transition(height .4s ease-out);
    overflow: hidden;
    position: relative;
    height: 15px;
    text-shadow: 0 1px 0 #fff;

    a {
      background: url(image-path("images/gray_arrow_right.png")) right center no-repeat;
      color: $grayDark;
      text-decoration: none;
      display: block;
    }

    p.desc {
      margin-top: 10px;
      color: $gray;
    }

    &:hover {
      background: lighten($serviceitembg, 3%);
      height: 50px;
      border-top:1px solid #fcfcfc;
    }
  }
}

// USER PAGES
// ASIDE
aside#left {
  border-right: 1px solid $bordercolor;

  .block {
    margin-bottom: 40px;

    ul {
      @extend .margin-padding-zero;
  
      li {
        @extend .nostyle-list;

        a {
          display: block;
          line-height: 2em;
          margin: 0 10px 0 -10px;
          padding-left: 10px;
          @include border-radius(2px);
          color: $grayDark;

          &:hover {
            background: $grayLighter;
            text-decoration: none;
          }
        }

        &.active a {
          background: darken($serviceitembg, 30%);
          color: $white;

          span {
            color: $yellow;  
          }
        }

        span {
          float: right;
          color: darken($orange, 10%);
          margin-right: 5px;
          font-size: .9em;
        }
      }
    }
  }
}
//aside-->

ul#subscriptions {
  @extend .margin-padding-zero;

  li {
    @extend .clearfix;
    @extend .nostyle-list;
    border-bottom: 1px solid $bordercolor;
    padding: 10px 0;

    .subscription-settings {
      float: right;
    }
  }
}

ul.notices {
  @extend .margin-padding-zero;

  li:first-child {
    border-top: 1px solid darken($bordercolor, 10%);
  }

  li {
    @extend .nostyle-list;
    
    border-bottom: 1px solid darken($bordercolor, 5%);

    a {
      display: block;
      padding: 10px 20px 10px 0;
      color: $grayDark;
      background: url(image-path("images/gray_arrow_right.png")) 100% center no-repeat;

      &:hover {
        text-decoration: none;
      }

      &:active {
        
      }
    }

    &:hover {
      @include gradient-vertical(#fcfcfc, #f0f0f0);
    }

    &:active {
      @include gradient-vertical(#f0f0f0, #fcfcfc);
    }

    &.unread {
      @include gradient-vertical(lighten($yellow, 45%), lighten($yellow, 40%));
      font-weight: bold; 

      &:hover {
        @include gradient-vertical(lighten($yellow, 43%), lighten($yellow, 30%));
      }

      &:active {
       @include gradient-vertical(lighten($yellow, 30%), lighten($yellow, 43%));
      }   
    }
  }
}


// FOOTER
footer {
  padding: 10px 0;
  border: 0;
  ul {
    float: right;
    a {
      color: #333;
      padding-left: 10px;
    }
  }
}

// User Page
.user-page {
  .field_with_errors {
    input {
      margin-left: -20px;
    }
  }
}

.image-thumb {
  width: 96px;
  height:72px;
  text-align:center;
  background: #fff;
}