$bgcolor:       #AAAAAA;
$bordercolor:   #eee;
$serviceitembg: #DCEAF4;

body {
  background: $bgcolor;
  margin-top: 60px;
  -webkit-font-smoothing: antialiased;
}

// default
.margin-padding-zero {
  margin: 0;
  padding: 0;
}

.nostyle-list {
  list-style: none;
  @extend .margin-padding-zero;
}

.inline-list {
  @extend .nostyle-list;
  display: inline;

  li {
    display: inline;
  }
}


.border-radius {
  @include border-radius(4px);
}

// FOOTER
footer {
  padding: 10px 0;
  border: 0;
  ul {
    float: right;
    a {
      color: #333;
      padding-left: 10px;
    }
  }
}

.image-thumb {
  width: 96px;
  height:72px;
  text-align:center;
  background: #fff;
}