$bgcolor:       #F7F7F7;
$bordercolor:   #EEEEEE;
$serviceitembg: #DCEAF4;


body {
  background: $bgcolor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  margin-bottom: 15px;
}

// default
.margin-padding-zero {
  margin: 0;
  padding: 0;
}

.nostyle-list {
  list-style: none;
  @extend .margin-padding-zero;
}

.inline-list {
  @extend .nostyle-list;
  display: inline;
}

.pastelred {
  color: $red;
}

.orange {
  color: $orange;
}

.modal {
  border: 1px solid $grayLighter;
  @include border-radius(4px);
  @include box-shadow(0 1px 2px #ccc);
}
.modal-backdrop {
  background: $white;
}

.border-radius {
  @include border-radius(4px);
}

.clearfix {
  margin-bottom: 0;
}

.actions {
  padding-left: 180px;
}

.edit_credit {
  display: inline;
}

span.active {
  color: $green;
  font-weight:bold;
}

// LAYOUT
.oneColumn .container {
  width: 700px;
}

.twoColumn .container {
  width: 760px
}

#page {
  margin: 0 -21px;
  padding: 20px;
  @include border-radius;
  background: #fff;
  border: 1px solid $bordercolor;
}

// HEADER
.topbar-wrapper {
  position: relative;
  height: 40px;
  margin: 40px 0 20px;
}
.topbar-wrapper .topbar {
  position: absolute;
  margin: 0 -20px;
}
.topbar-wrapper .topbar .topbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  @include border-radius(2px);
}

.notice-dropdown ul {
  width: 400px;
}

.nav > li {
  position: relative;
}

.notice-tooltip {
  position: absolute;
  right: 7px;
  top: -10px;
  width: 15px;
  @include border-radius(3px);
  background: darken(red, 5%);
  color: $white;
  text-align:center;
  font-size: .8em;
  font-weight: bold;
}

.topbar div > ul a.no-notice {
  color: $gray;
}

ul.dropdown-menu li {
  postion:relative;

  span {
    position: absolute;
    right: 5px;
    top: 13px;
    height: 12px;
    line-height: 1.2em;
    padding: 0 3px;
  }
}


// Breadcrumb
#breadcrumb {
  @extend .clearfix;
  padding-bottom:10px;
  border-bottom: 1px solid $bordercolor;
  margin: -5px -20px 20px 0;

  ul {
    margin-left:0;
  }

  li {
    @extend .inline-list;
    float:left;
    line-height: 1.2em;
    padding: 0 15px 0 10px;
    background: url("images/chevron.gif") 100% 50% no-repeat;
    &.first {
      padding-left: 20px;
    }
    &.last {
      background-image: none;
    }
  }
}

// SERVICE PAGES
.statics-table {
  border-collapse: separate;
  border-spacing: 10px;
  *border-collapse: expression('separate', cellSpacing = '10px');
  width: auto;
  margin:0 0 0 -10px;

  td {
    @include border-radius(2px);
    background: $serviceitembg;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    border-top: 0;

    .count {
      font-size: 2em;
      color: darken($serviceitembg, 50%);
    }
    .desc {
      font-size: 0.8em;
      text-align: right;
    }
  }

  .aLeft { text-align: left }
}

#service-subscription {
  ul {
    margin-right: 0;
  }

  .ui-multiselect-menu {
    margin-top: 2px;
  }

  .label + .span3 {
    text-align: right; 
  }
  form {
    display: inline-block;
  }

  div {
    margin-top:0;
  }
}

.ui-multiselect-header {
  margin: -3px -3px 5px !important;
}

#service-notification {
  margin-top: 30px;
  h3 {
    border-bottom: 1px solid darken($bordercolor, 20%);
    line-height:1.6em;
    margin-bottom: 0;
  }

  ul {
    @extend .margin-padding-zero;

    li.notice {
      border-bottom: 1px solid darken($bordercolor, 10%);
      @extend .nostyle-list;
      text-shadow: 0 1px 0 #fff;

      &:hover {
        @include vertical-gradient(#f8f8f8, #eee);
      }

      &:active {
        @include vertical-gradient(#eee, #f8f8f8);
      }

      a {
        padding: 10px 20px 10px 0;
        display: block;
        background: url(images/gray_arrow_right.png) right center no-repeat;
        color: $grayDark;

        &:hover {
          text-decoration: none;
        }

        &:active {
          
        }
      }

      .access-denied {
        padding: 10px 20px 10px 0;
        background: lighten($yellow, 40%);
        color: $gray;
        position: relative;

        .list-form {
          position: absolute;
          right: 0;
          top: 10px;
          input[type=submit] {
            width: auto;
            padding: 3px;
          }
        }
      }

    }

    .added {
      a {
        background: url('images/tick.png') right center no-repeat !important;
      }
    }
  }
}

.selections {
  @extend .nostyle-list;
  li {
    padding: 3px 5px 3px 0;
    border: 1px solid $bordercolor;
    margin-bottom: 3px;
    background: $white;
    color: $grayDark;
  }
}

.pagination a {
  padding: 0 10px;
  line-height: 22px;
}

.handle {
  display: block;
  float: left;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url("images/handle.png") no-repeat;
  text-indent: -9999px;
  cursor: move;
}

// NOTIFICATION PAGES
ul#selections-list {
  @extend .margin-padding-zero;
  margin-bottom: 20px;
  @extend .clearfix;

  li {
    float:left;
    display: inline-block;
    padding: 0 7px;
    font-size: .9em;
    margin: 0 5px 5px 0;
    @include border-radius(3px);
    background: $grayLighter;


    &.active {
      background: lighten($green, 30%);
      padding-right: 5px;
      color: darken($green, 20%);


      span {
        color: $green;
      }

    }
  }
}

#subscription_price {
  line-height: 2.2em;
}

// FORM
// forms 43
label {
  width: auto;
  float: none;
  text-align: left;
}
// forms 147
input,
textarea {
  @include border-radius(2px);
  border-color: #BCBCBC #D5D5D5 #D5D5D5;
  border-style: solid;
  border-width: 1px;
  padding: 4px 6px;
  @include box-shadow(none);
  @include transition(none);

  &:focus {
    outline: 0;
    border-color: #777;
    $shadow: inset 0 0 2px #777;
    @include box-shadow($shadow);
  }
}

input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  @include box-shadow(none); // override for file inputs
  outline: 1px dotted #666; // Select elements don't get box-shadow styles, so instead we do outline
}

input:-webkit-autofill {
  background: #fff;
}

.form-item {
  @extend .clearfix;
}

.page-form {

  .title-field {
    label {
      line-height: 2em;
    }

    input {
      font-size: 1.3em;
    }
  }

  #filters {
    .filter {
      margin-bottom: 5px;
      display: block;
      padding: 10px;
      @include border-radius;
      background: lighten($serviceitembg, 4%);
      line-height: 2em;
      
      .floated,
      input[type=text] {
        float: left;
        width: auto;
        margin-right: 5px;
      }

      .fixed {
        display: block;
        float: left;
        width: 150px;
      }

      select {
        float: right;
      }

      .filter-header {
        display: block;
      }

      .line-items {
        display: none;
        @include border-radius(0 0 4px 4px);
        margin: 10px -10px -10px;
        padding: 10px;
        border-top: 1px solid $serviceitembg;
        background: lighten($serviceitembg, 6%);
      }

      .selection-fields {
        
        margin: 0 0 .5em;
        line-height: 1.7em;
           
        input {
          @include box-shadow(0 0 0);
          padding:2px;
        }

        a {
          font-size: 0.9em;
          color: lighten($linkColor, 25%);
        }
      }
    }

    .opened-filters {
        background: $serviceitembg;

      .line-items {
        background: lighten($serviceitembg, 4%);
      }
    }
  }

  .field_with_errors {
    @extend .span3;
    display: inline;
    float: left;
    margin-left: 20px;
  }

  .span8 .field_with_errors {
    margin-left: 0; 
    @extend .span8;
  }

}

#error_explanation {
  h2 {
    font-size: 1em;
    margin-bottom: 5px;
  }

  li {
    color: $red;
  }
}

.field_with_errors {
  label {
    color: $red;
  }
  input, textarea {
    border-color: $red;
  }
}
// End of Page Form

// USER PAGES
// ASIDE
//<!--aside
aside#left {
  border-right: 1px solid $bordercolor;

  .block {
    margin-bottom: 40px;

    ul {
      @extend .margin-padding-zero;
  
      li {
        @extend .nostyle-list;

        a {
          display: block;
          line-height: 2em;
          margin: 0 10px 0 -10px;
          padding-left: 10px;
          @include border-radius(2px);
          color: $grayDark;

          &:hover {
            background: $grayLighter;
            text-decoration: none;
          }
        }

        &.active a {
          background: darken($serviceitembg, 30%);
          color: $white;

          span {
            color: $yellow;  
          }
        }

        span {
          float: right;
          color: darken($orange, 10%);
          margin-right: 5px;
          font-size: .9em;
        }
      }
    }
  }
}
//aside-->

ul#subscriptions {
  @extend .margin-padding-zero;

  li {
    @extend .clearfix;
    @extend .nostyle-list;
    border-bottom: 1px solid $bordercolor;
    padding: 10px 0;

    .subscription-settings {
      float: right;
    }
  }
}

ul.notices {
  @extend .margin-padding-zero;

  li:first-child {
    border-top: 1px solid darken($bordercolor, 10%);
  }

  li {
    @extend .nostyle-list;
    
    border-bottom: 1px solid darken($bordercolor, 5%);

    a {
      display: block;
      padding: 10px 20px 10px 0;
      color: $grayDark;
      background: url("images/gray_arrow_right.png") 100% center no-repeat;

      &:hover {
        text-decoration: none;
      }

      &:active {
        
      }
    }

    &:hover {
      @include vertical-gradient(#fcfcfc, #f0f0f0);
    }

    &:active {
      @include vertical-gradient(#f0f0f0, #fcfcfc);
    }

    &.unread {
      @include vertical-gradient(lighten($yellow, 45%), lighten($yellow, 40%));
      font-weight: bold; 

      &:hover {
        @include vertical-gradient(lighten($yellow, 43%), lighten($yellow, 30%));
      }

      &:active {
       @include vertical-gradient(lighten($yellow, 30%), lighten($yellow, 43%));
      }   
    }
  }
}

// COMMENTS
#comments {
  margin-top: 50px;

  h3 {
    line-height: 2em;
    border-bottom: 1px solid $grayLight;
    margin-bottom: 20px;
  }
}
.comment {
  margin-bottom: 10px; 
  .author {}

  .body {
    @include border-radius(3px);
    background: $grayLighter;
    padding: 4px;
    font-size: 11px;

    .ins {
      @include border-radius(2px);
      background: #fff;
      border: 1px solid $grayLight;
      padding: 7px;
    }
  }

}


// FOOTER
//<!--footer
footer {
  border: 0;
}
//footer-->