.node-type-nodes {
  .page_title {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
  }

  .node-type-header {
    margin: -21px -30px 5px;
    padding: 20px 30px 20px;
    @include border-radius(3px 3px 0 0);
    background: #262626;
    color: #fafafa;

    .btn-new-node {
      float: right;
    }
  }

  .controls {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .control-title {
    font-size: 14px;
    line-height: 27px;
    color: #444;
    margin-bottom: 0;
  }

  .filter {
    margin-bottom: 20px;
  }

  .filter h4 {
    margin-bottom: 7px;
    font-size: $baseFontSize;
    font-weight: bold;
  }

  .right-sided-controls {
    float: right;
    margin-left: 15px;
  }

  .popover-title {
    display: none;
  }
}

.node-type-manage ul.nav-controller {
  margin: -21px -30px 20px;
  padding: 20px 30px 0;
  background: $headerbg;
  @include border-radius(3px 3px 0 0)
}