// SERVICE PAGES
.statics-table {
  border-collapse: separate;
  border-spacing: 10px;
  *border-collapse: expression('separate', cellSpacing = '10px');
  width: auto;
  margin:0 0 0 -10px;

  td {
    text-shadow: 0 1px 0 #fcfcfc;
    @include border-radius(2px);
    background: $serviceitembg;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    border-top: 0;

    .count {
      font-size: 2em;
      color: darken($serviceitembg, 50%);
    }
    .desc {
      font-size: 0.8em;
      text-align: right;
    }
  }

  .aLeft { text-align: left }

  &.small {
    .count {
      font-size: 1.1em;
    }
  }
}

#service-subscription {
  ul {
    margin-right: 0;
  }

  .filter {
    margin-bottom: 10px;
  }

  .label + .span3 {
    text-align: right; 
  }

  input[type="checkbox"] {
    float: left;
  }

  div {
    margin-top:0;
  }
}

#service-notification {
  margin-top: 30px;

  h3 {
    line-height:1.6em;
    margin-bottom: 0;
  }

  li.access-denied {
    background: lighten($yellow, 40%);
    color: $gray;
    position: relative;

    .list-form {
      position: absolute;
      right: 20px;
      top: 10px;
      input[type=submit] {
        width: auto;
        padding: 3px;
      }
    }

    &:hover {
      height: 15px;
    }
  }

  .added a {
    background: url('images/tick.png') right center no-repeat !important;
  }
}

.selections {
  @extend .nostyle-list;
  li {
    padding: 3px 5px 3px 0;
    border: 1px solid $bordercolor;
    margin-bottom: 3px;
    background: $white;
    color: $grayDark;
  }
}

.pagination a {
  padding: 0 10px;
  line-height: 22px;
}

.handle {
  display: block;
  float: left;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url("images/handle.png") no-repeat;
  text-indent: -9999px;
  cursor: move;
}