<div class="block" id="administration-menu">
  <ul>
    <%= menu_list "Dashboard", admin_dashboard_path %>
    <%= menu_list "Notifications", admin_notifications_path %>
    <%= menu_list "Payment Types", admin_payment_types_path %>
  </ul>
</div>