<header class="clearfix">
  <%= link_to content_tag("h1", "Synchronize.me"), root_path, :id => "logo" %>
  <nav>
    <ul>
      <li><a href="#" class="signin">Giriş yap</a></li>
    </ul>
  </nav>
</header>