<header>
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">

          <%= content_tag :h3, link_to("Synchronize.me", root_path) %>
          <!-- /Site Name -->

          <!--<ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>-->
          <!-- Left Nav -->

          <form class="pull-left" action="">
            <input type="text" placeholder="Search">
          </form>
          <!-- Search Form -->

          <ul class="nav secondary-nav">

            <% if account_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">Dropdown</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit", edit_account_registration_path, :method => :get %></li>
                  <li><%= link_to "Subscription settings", subscriptions_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_account_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Sign in</a></li>
            <% end %>

          </ul>
          <!-- /Right Nav -->


        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>
</header>
<!-- /header -->