<header class="clearfix">
  <%= link_to content_tag("h1", "Synchronize.me"), root_path, :id => "logo" %>
  <nav>
    <ul>
      <% if account_signed_in? %>
        <li><%= current_account.email %></li>
      <% else %>
        <li><a href="#" class="signin">Sign in</a></li>
      <% end %>
    </ul>
  </nav>
</header>