<div class="modal hide fade" id="signin-modal" style="margin-left:-210px; width: 440px;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <ul id="tab" class="nav nav-tabs sign-tab">
      <li class="active"><a href="#signin" data-toggle="tab"><%= t "account.signin" %></a></li>
      <li><a href="#signup" data-toggle="tab"><%= t "account.signup" %></a></li>
    </ul>
  </div>
  <div class="modal-body">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="signin">
        <%= render "shared/signin_form" %>
      </div>
      <div class="tab-pane fade" id="signup">
        <%= render "shared/signup_form" %>
      </div>
    </div>
  </div>
</div>